<%= link_to '新規作成', new_product_path, class:'btn btn-primary' %>
<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th>ID</th>
        <th>商品コード</th>
        <th>商品名</th>
        <th>販売価格</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.code %></td>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>